# https://docs.github.com/cn/get-started/getting-started-with-git/configuring-git-to-handle-line-endings

# Automatically normalize line endings (to LF) for all text-based files.
# 自动规范化所有基于文本的文件的行尾字符（为 LF）
* text=auto eol=lf

# Declare files that will always have CRLF line endings on checkout.
# 声明在检出时始终具有 CRLF 行尾字符的文件
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Denote all files that are truly binary and should not be modified.
# 指示所有真正的二进制文件，不应被修改
*.{ico,png,jpg,jpeg,gif,webp,svg,woff,woff2} binary
